/.idea
/.venv*
/venv*
.pytest_cache
.mypy_cache
/build
/dist
*.egg-info
*.pyc
/lfs-storage
/*.local.yaml
/.coverage
/.make-cache
/.tox


.codeclimate.yml
.coveragerc
.dockerignore
.flake8
.github/workflows/test.yaml
.isort.cfg
.readthedocs.yaml
.travis.yml
/docs*
/tests*
Dockerfile
LICENSE
MANIFEST.in
Makefile
README.md
VERSION
dev-requirements.in
dev-requirements.txt
flask-develop.sh
mypy.ini
pytest.ini
requirements.in
setup.py
tox.ini
